table {
  width: 100%;
  background: white !important;

  tr {

    th,
    td {
      color: black !important;
    }
  }
}

tr.detail-row {
  height: 0;
}

tr.expanded-row {
  span.accordion-icon {
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    vertical-align: middle;
  }
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;

}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  // display: flex;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

.no_record {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  padding: 15px;
  margin: 20px;
}
